.header {
	padding-left:0px;
	padding-right:0px;
}

.glyphicon.header {
	font-size: 25px;
}

.center {
	display:block;
	margin-left: auto;
	margin-right: auto;
}

.navbar-address {
	margin-top:-2px;
}

.finance div{
	margin-top: 10px;
	margin-bottom: 10px;
}


.userList div{
	margin: 5px 15px 5px 15px;
	width: 570px;
	border: solid 2px grey;
	min-height: 100px;
}

.page-header{
	margin:20px 0 20px;
}
