*.log
*.gz
Documents/Problem Statement/quarters_ProblemStatement.tex.bak
*.aux
*.bak
*.lof
*.out
Documents/Problem Statement/quarters_ProblemStatement.pdf
*.toc
Documents/Problem Statement/quarters_ProblemStatement.pdf
Documents/Problem Statement/quarters_ProblemStatement.pdf
Documents/Requirements/quartersSRS.tex
workspace/dev/.idea/workspace.xml
workspace/dev/.idea/encodings.xml
workspace/dev/.idea/dev.iml
workspace/dev/.idea/modules.xml
workspace/dev/.idea
workspace/dev/.idea/libraries/dev_node_modules.xml
workspace/dev/.idea/jsLibraryMappings.xml