*.log
*.gz
Documents/Problem Statement/quarters_ProblemStatement.tex.bak
*.aux
*.bak
Documents/Problem Statement/quarters_ProblemStatement.pdf
*.toc
Documents/Problem Statement/quarters_ProblemStatement.pdf
Documents/Problem Statement/quarters_ProblemStatement.pdf
Documents/Requirements/quartersSRS.tex