<!DOCTYPE html>

<!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css">
<!-- jQuery library -->
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.0/jquery.min.js"></script>
<!-- Latest compiled JavaScript -->
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js"></script>
<!-- malihu scrollbar -->
<link rel="stylesheet" href="../public/css/jquery.mCustomScrollbar.css">
<script src="../public/js/jquery.mCustomScrollbar.concat.min.js"></script>

<style>
  .input-label {
      width:30%;
  }
</style>

<!------------------------ START OF HOUSE SELECT WINDOW ------------------------>
<!-- Modal -->
<div id="selectHouseModal" class="modal fade">
  <div class="modal-dialog">

    <!-- Modal content -->
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <button type="safe-close" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title text-center">Join, Create, or Select a House</h3>
      </div>
      
      <!-- Modal Body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">        
              <button id="join-button" type="button" class="btn btn-info btn-primary">Join New</button>
              <button id="create-house" type="button" class="btn btn-info btn-primary">Create</button>
            </div>
            <br>
            <div id="house-list" class="mCustomScrollbar col-xs-8">
              <ul>
                <li><h1 class="glyphicon glyphicon-home"> House 1 </h1></li>
                <li><h1 class="glyphicon glyphicon-home"> House 2 </h1></li>
                <li><h1 class="glyphicon glyphicon-home"> House 3 </h1></li>
                <li><h1 class="glyphicon glyphicon-home"> House 4 </h1></li>
                <li><h1 class="glyphicon glyphicon-home"> House 5 </h1></li>
                <li><h1 class="glyphicon glyphicon-home"> House 6 </h1></li>
              </ul>
            </div>
          </div>
        </div>
      </div>
      
      <div class="modal-footer">
        <div class="col-lg-8">
          <button type="button" class="btn btn-info btn-primary">Leave House</button>
          <button type="button" class="btn btn-info btn-primary">Set Default</button>
        </div>
      </div>
      
    </div>
  </div>
</div>
<!------------------------- END OF HOUSE SELECT WINDOW ------------------------->

<!----------------------- START OF HOUSE CREATION WINDOW ----------------------->
<!-- Modal -->
<div id="createHouseModal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content -->
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <button type="safe-close" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title text-center">Create House</h3>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <p>Please select your country, and fill in the following fields to create your house.</p>

              <!-- Input Form -->
              <form>
                <div class="radio-inline" id="country">
                  <label class="radio-inline"><input type="radio" name="country-opt">Canada</label>
                  <label class="radio-inline"><input type="radio" name="country-opt">USA</label>
                  <label class="radio-inline"><input type="radio" name="country-opt">Other</label>
                </div>
                <br>
                <br>
                <div class="input-group col-xs-8">
                  <span class="input-group-addon input-label" id="address">Address</span>
                  <input type="text" class="form-control" placeholder="Required">
                </div>
                <div class="input-group col-xs-8">
                  <span class="input-group-addon input-label" id="city">City</span>
                  <input type="text" class="form-control">
                </div>
                <div class="input-group col-xs-8">
                  <span class="input-group-addon input-label" id="province">Province/State</span>
                  <input type="text" class="form-control">
                </div>
                <div class="input-group col-xs-8">
                  <span class="input-group-addon input-label" id="postal-code">Postal/Zip Code</span>
                  <input type="text" class="form-control">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div> <!--  modal body -->

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="safe-close" class="btn btn-defult" data-dismiss="modal">Close</button>
        <button id="safe-back" type="button" class="btn btn-defult" data-dismiss="modal">Back</button>
        <button type="button" class="btn btn-primary">Create</button>
      </div>

    </div> <!-- modal content -->
  </div> <!-- modal dialog -->
</div> <!-- modal -->
<!------------------------ END OF HOUSE CREATION WINDOW ------------------------>

<!------------------------- START OF JOIN HOUSE WINDOW ------------------------->
<!-- Modal -->
<div id="joinHouseModal" class="modal" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content -->
    <div class="modal-content">
      <!-- Modal header -->
      <div class="modal-header">
        <button type="safe-close" class="close" data-dismiss="modal">&times;</button>
        <h3 class="modal-title text-center">Join House</h3>
      </div>

      <!-- Modal Body -->
      <div class="modal-body">
        <div class="container">
          <div class="row">
            <div class="col-lg-8">
              <p>Please enter your invitation code below.</p>
              <!-- Input Form -->
              <form>
                <div class="input-group col-xs-8">
                  <span class="input-group-addon input-label" id="invite-code">Invitation Code</span>
                  <input type="text" class="form-control" placeholder="Required">
                </div>
              </form>
            </div>
          </div>
        </div>
      </div>

      <!-- Modal Footer -->
      <div class="modal-footer">
        <button type="safe-close" class="btn btn-defult" data-dismiss="modal">Close</button>
        <button id="safe-back2" type="button" class="btn btn-defult" data-dismiss="modal">Back</button>
        <button type="button" class="btn btn-primary">Join</button>
      </div>
      
    </div> <!-- end modal content -->
  </div> <!-- end modal dialog -->
</div> <!-- end modal -->

<!-------------------------- END OF JOIN HOUSE WINDOW -------------------------->

<!-- MODAL SCRIPTS -->
<script>
function showCreateHouse() {
    $("#selectHouseModal").removeClass("fade").modal("hide");
    $("#createHouseModal").modal("show").addClass("fade");
}

$("#selectHouseModal").modal("show");

$("#create-house").on("click", function() {
    showCreateHouse();
});

// Close modal window while avoiding rendering errors
$('button[type="safe-close"]').on("click", function () {
    $(".modal-backdrop").fadeOut("slow");
});

// Hide create house modal, and show select house modal
function showSelectHouse() {
    $("#createHouseModal").removeClass("fade").modal("hide");
    $("#selectHouseModal").modal("show").addClass("fade");
}

// Move back one page from the create house modal
$("#safe-back").on("click", function() {
    showSelectHouse();
});

// Hide select house modal, and show join house modal
function showJoinHouse() {
    $("#selectHouseModal").removeClass("fade").modal("hide");
    $("#joinHouseModal").modal("show").addClass("fade");
}

// Show join house modal
$("#join-button").on("click", function () {
    showJoinHouse();
});

// Hide join house modal, and show select house modal
function showSelectHouse2() {
    $("#joinHouseModal").removeClass("fade").modal("hide");
    $("#selectHouseModal").modal("show").addClass("fade");
}

// Move back one page from the join house modal window
$("#safe-back2").on("click", function() {
    showSelectHouse2();
});
</script>
<!-- END MODAL SCRIPTS -->

<script>
  (function($){
    $(window).load(function(){
      $("#house-list").mCustomScrollbar({
	axis:"x",
	autoExpandScrollbar:true,
	advanced:{autoExpandHorizontalScroll:true}
      });
    });
  })(jQuery);
</script>
