//  References
//  https://www.npmjs.com/package/multer
//  https://joelennon.com/file-uploads-with-express-4-0/

doctype html
html
  body
    form#uploadForm(role="form", ref="uploadForm", action="/upload", method="post", enctype="multipart/form-data")
      div(class="form-group")
        label(for="userFiles[]") Select file(s) to upload
        input(type="file", name="userFiles[]" multiple, id="userFiles[]")
        input(type="submit", value="Upload!")