//  References
//  https://www.npmjs.com/package/multer
//  https://joelennon.com/file-uploads-with-express-4-0/

doctype html
html
  head
    title File Upload
    link(rel='stylesheet', href='/css/bootstrap.min.css')
  body
    h4.
        Select file(s) to upload
    form(role="form", ref="uploadForm", action="/upload", method="post", enctype="multipart/form-data")
      input(type="file", name="userFiles[]" multiple, id="userFiles[]")
      input(type="submit", value="Upload")