extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    button(onclick="window.location.href='/status';") status
    br
    button(onclick="window.location.href='/update';")  update from github
    br
    br
    div quarters-live
        br
        button(onclick="window.location.href='/live-start';")  start
        br
        button(onclick="window.location.href='/live-app.log';")  app.log
        br
        button(onclick="window.location.href='/live-output.log';")  output.log
        br
        button(onclick="window.location.href='/live-error.log';")  error.log
    br
    br
    div quarters-dev
        br
        button(onclick="window.location.href='/dev-start';")  start
        br
        button(onclick="window.location.href='/dev-app.log';")  app.log
        br
        button(onclick="window.location.href='/dev-output.log';")  output.log
        br
        button(onclick="window.location.href='/dev-error.log';")  error.log
    br
    br
    div quarters-tools
        br
        button(onclick="window.location.href='/tools-start';")  start
        br
        button(onclick="window.location.href='/tools-app.log';")  app.log
        br
        button(onclick="window.location.href='/tools-output.log';")  output.log
        br
        button(onclick="window.location.href='/tools-error.log';")  error.log