// display all images related to house

.row(style="padding-top:30px")
  .col-lg-12
    .panel.panel-info
      .panel-heading
        h3.panel-title House Files
      .panel-body
        .col-lg-6.col-sm-12          
          ul#filelist.list-group

  script.
    $.ajax({
      url: "../db/house_file/getFilePaths",
      method: 'post',
      dataType: 'json',
      success: function (response) {
        var i;
        for (i = 0; i < response.length; i++) {
          $('#filelist').append('<li class="list-group-item"><a href="../uploads/'+response[i].house_id+'/'+ response[i].filepath + '">'+response[i].filepath+'</a></li>');
        }
      },
      error: function (error) {
        alert("error");
      }
    });