// display all images related to house

.row(style="padding-top:30px")
  .col-lg-12
    .panel.panel-info
      .panel-heading
        h3.panel-title House Files
      .panel-body
        .col-lg-6.col-sm-12          
          img(src='../uploads/*.jpg', alt='No files uploaded.', style='width:100px;height:100px;')