extends ./app.jade

block content
	div.row
		div.col-lg-12
			h1.page-header Bulletin Board
	div.row
		div.col-xs-9
			textarea.form-control(rows='2',placeholder='Add something to share!' style='margin-bottom: 30px')
		div.col-xs-3
			button.btn.btn-primary(type='submit') Submit
	div.row
		div.col-lg-9
			.panel.panel-default
				.panel-body(style='background-color: #91C957')
					.row 
						.col-xs-3
							i.glyphicon.glyphicon-usd(style='font-size: 35px; color: white; display: inline-block')
						.col-xs-6
							.panel-title Carolyn paid Kevin $2
						.col-xs-3
							| 3 min ago
				.panel-footer
							.input-group
								input.form-control(type='text', placeholder='Write a reply...')
								span.input-group-btn
									button.btn.btn-default(type='button') Reply
		div.col-lg-9
			.panel.panel-default
				.panel-body(style='background-color: #46BBDC')
					.row 
						.col-xs-3
							img.media-object.img-circle(style='max-height:40px;', src='../img/boy2.png')
						.col-xs-6
							.panel-title Who wants to grab food?
						.col-xs-3
							| 3 min ago
				.panel-footer
							.input-group
								input.form-control(type='text', placeholder='Write a reply...')
								span.input-group-btn
									button.btn.btn-default(type='button') Reply