extends ./app.jade

block content
	div.row
		div.col-lg-12
			h1.page-header Finances
	div.row
		a.btn.btn-success(href='#' style='margin-top: 30px; margin-bottom: 30px')
			i.fa.fa-plus.fa-xl
	div.row
		h4 Lucy owes you $29.98
	div.row
		h4 Jane owes you $59.98
		br
	div.row
		table.table.table-striped.table-responsive.table-bordered
			thead
				tr
					th Member
					th Event
					th You owe
					th You are owed
					th Date
					th Status
			tbody
				tr
					td Lucy Lu
					td Groceries
					td $10
					td --
					td Apr 11
					td 
						i.fa.fa-check.fa-md
				tr
					td Jane Smith
					td Internet Bill
					td --
					td $29.99
					td Apr 3
					td 
						btn.btn-danger Pay Now
				tr
					td Lucy Lu
					td Electric Bill
					td --
					td $39.98
					td Mar 27
					td 
						btn.btn-danger Pay Now
				tr
					td Jane Smith
					td Internet Bill
					td --
					td $29.99
					td Mar 3
					td 
						i.fa.fa-check.fa-md
