extends ./app.jade

block content
	div.row
		div.col-lg-12
			h3.page-header James Anthony
			button.btn.btn-default(style="margin-top:-60px; float:right") Send Message
		div.col-xs-3
			img.img-circle.center(src='../img/avatars/avatar.jpg', width='90%')
		div.col-xs-9
			div.table-responsive
				table.table
					tr
						td Age
						td 90
					tr
						td Date of Birth
						td 01/01/01
					tr
						td Contact Number
						td (905) 905 9050
					tr
						td Contact Email
						td email@email.com
					tr 
						td Rating
						td 5

