extends ./app.jade

block css
	link(rel='stylesheet' href='../css/bulletin.css')

block js
	script(src='../js/app/bulletin.js')
	
block content
	include ./resources/bulletin/newpost
	div.row
		div.col-lg-12
			h1.page-header Bulletin Board
	div.row
		div.col-lg-1
		div.col-xs-12.col-lg-10
			.input-group
				.input-group-btn
					button.btn.btn-default(type="button" data-toggle="modal" data-target="#newPost")
						span.glyphicon.glyphicon-plus
						span.hidden-xs New Post
					button.btn.btn-default(type="button")
						span.glyphicon.glyphicon-option-vertical
				input.form-control(type='text', placeholder="Search for")
				.input-group-btn(style="border-left: 0; border-right: 0;")
					button.btn.btn-default(type="button")
						span.glyphicon.glyphicon-search
				.input-group-btn
					button.btn.btn-default(type="button")
						span.glyphicon.glyphicon-option-vertical
				.input-group-btn
					button.btn.btn-default.dropdown-toggle(type='button', data-toggle='dropdown', aria-haspopup='true', aria-expanded='false')
						span.hidden-xs Action 
						span.caret
					ul.dropdown-menu.dropdown-menu-right
						li
							a(href='#') Action
						li
							a(href='#') Another action
						li
							a(href='#') Something else here
						li.divider(role='separator')
						li
							a(href='#') Separated link


	div.row
		div.col-lg-1
		div.col-lg-10.col-xs-12
			h5.page-header 
			
	div#posts
		each val in posts
			div.row(postid="#{val.post_id}")
				div.col-lg-1
				div.col-lg-10.col-xs-12
				.col-lg-10.col-xs-12
					.panel.panel-primary
						.panel-heading
							img.img(src='../img/boy.png', width='20px')
							h3.panel-title(style='\
							display: inline-block;\
							') #{val.full_name}
							if user.uid = val.user_id
								span.glyphicon.glyphicon-remove.remove-post
							h3.panel-title(style='float:right') #{val.date_time}
							
						.panel-body #{val.comment}
						ul.list-group.subcomments
						.panel-body
							.input-group
								input.form-control(type='text', placeholder='Message...')
								span.input-group-btn
									button.btn.btn-default.reply-post(type='button') Reply

							
