extends ./app.jade

block css
	link(rel='stylesheet' href='../css/fullcalendar.css')
	link(rel='stylesheet' href='../css/calendar.css')
	

block js

	script(src='../js/moment.min.js')
	script(src='../js/fullcalendar.js')
	script(src='../js/calendar.js')
	script(src='../js/gcal.js')
			

block content

	div.row
		div.col-lg-12
			h1.page-header Calendar

	// Calendar
	#calendar

	// Create Event Modal
	#createEventModal.modal(tabindex='-1', role='dialog')
		.modal-dialog.modal-sm
			// Modal content
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') &times
					h4.modal-title New Event
				.modal-body
					form#createEventForm.form-horizontal(role='form', action='')
						.form-group
							label.col-sm-2.control-label(for='eventName') Event:
							.col-sm-10
								input#eventName.form-control(type='text', name='eventName')
								input#eventStartTime(type='hidden', name='eventStartTime')
								input#eventEndTime(type='hidden', name='eventEndTime')
								input#eventAllDay(type='hidden', name='eventAllDay')
						.form-group
							label.col-sm-2.control-label(for='when') When:
							#when.col-sm-10
						.btn-group
							//- label.col-sm-2.control-label Calendar:
							span Calendar:
							label
								input(type='radio', name='cal', value='#C9302C')
								| Chores
							label
								input(type='radio', name='cal', value='#449D44')
								| Finances
							label
								input(type='radio', name='cal', value='#EC971F')
								| Maintenance
							label
								input(type='radio', name='cal', value='#31B0D5')
								| Other
				.modal-footer
					button.btn(data-dismiss='modal', aria-hidden='true') Cancel
					button#submitButton.btn.btn-primary(type='submit') Create Event

	// Edit Event Modal
	#editEventModal.modal(tabindex='-1', role='dialog')
		.modal-dialog.modal-sm
			// Modal content
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') &times
					h4.modal-title Edit Event
				.modal-body
					form#editEventForm.form-horizontal(role='form', action='')
						.form-group
							label.col-sm-2.control-label(for='eventName') Event:
							.col-sm-10
								input#eventName.form-control(type='text', name='eventName')
								input#eventStartTime(type='hidden', name='eventStartTime')
								input#eventEndTime(type='hidden', name='eventEndTime')
								input#eventAllDay(type='hidden', name='eventAllDay')
						.form-group
							label.col-sm-2.control-label(for='when') When:
							#when.col-sm-10
						.form-group
							label.col-sm-2.control-label(for='cal') Calendar:
								input#blue.form-control(type='radio', name='cal', value='#ff00ff')
								|	Blue
								input#red.form-control(type='radio', name='cal', value='#ff0000')
								|	Red
				.modal-footer
					button#deleteEvent.btn.btn-danger.delete(type='button' data-dismiss="modal") Delete
					button.btn(data-dismiss='modal', aria-hidden='true') Cancel
					button#submitButton.btn.btn-primary(type='submit') Save