extends ./app.jade

block css
	link(rel='stylesheet' href='../css/fullcalendar.css')
	link(href='../fullcalendar.print.css', rel='stylesheet', media='print')
	

block js

	script(src='../js/moment.min.js')
	script(src='../js/fullcalendar.js')
	script(src='../js/gcal.js')

	script.
		$(document).ready(function() {

			var calendar = $('#calendar').fullCalendar({

				header: {
					left: 'prev,next today',
					center: 'title',
					right: 'month,agendaWeek,agendaDay'
				},
				
				editable: true,
				eventLimit: true, // allow "more" link when too many events
				nowIndicator: true,
				selectable: true,
				selectHelper: true,

				googleCalendarApiKey: 'AIzaSyABDKnGkEvFCN9UDlq7GCyep99uMvnclYM',
				events: {
					googleCalendarId: 'oomoup4h350ojq5dsh6nl2qtu0@group.calendar.google.com'
				},

				select: function (start, end, allDay) {
					mEnd = moment(end).format('h:mma');
					mStart = moment(start).format('dddd, MMMM D, h:mma');
					var mWhen = mStart + ' - ' + mEnd;

					$('#createEventModal #eventStartTime').val(start);
					$('#createEventModal #eventEndTime').val(end);
					$('#createEventModal #eventAllDay').val(allDay);
					$('#createEventModal #when').text(mWhen);
					$('#createEventModal').modal('show');
				},

				eventClick: function (event, jsEvent, view) {
					$('#calendar').fullCalendar('removeEvents', event._id);
				}
			});

			$('#submitButton').on('click', function(e) {
				e.preventDefault();

				doSubmit();
				});

			function doSubmit() {
				$('#createEventModal').modal('hide');

				$('#calendar').fullCalendar('renderEvent', 
		        	{
					title: $('#eventName').val(),
					start: $('#eventStartTime').val(),
					end: $('#eventEndTime').val(),
					allDay: true,
					},
					true); // stick the event
		        
				$('#calendar').fullCalendar('unselect');

			}

		});

block content

	div.row
		div.col-lg-12
			h1.page-header Calendar

	// Calendar
	#calendar

	// Modal
	#createEventModal.modal(tabindex='-1', role='dialog')
		.modal-dialog.modal-sm
			// Modal content
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal')
						span(aria-hidden='true') ×
					h4.modal-title New Event
			.modal-body
				form#createEventForm.form-horizontal(role='form', action='')
					.form-group
						label.col-sm-2.control-label(for='eventName') Event:
						.col-sm-10
							input#eventName.form-control(type='text', name='eventName')
							input#eventStartTime(type='hidden', name='eventStartTime')
							input#eventEndTime(type='hidden', name='eventEndTime')
							input#eventAllDay(type='hidden', name='eventAllDay')
					.form-group
						label.col-sm-2.control-label(for='when') When:
						#when.col-sm-10
			.modal-footer
				button.btn(data-dismiss='modal', aria-hidden='true') Cancel
				button#submitButton.btn.btn-primary(type='submit') Create Event