extends ./app.jade


block content
	include addBill.jade
	div.row
		div.col-lg-12
			h1.page-header Finances
	div.row
		a#i-login.btn.btn-success.btn-md(data-toggle="modal" data-target="#billModal" style='margin-top: 30px; margin-bottom: 30px')
			i.fa.fa-plus.fa-xl
	div.row
		h4 Lucy owes you $29.98
	div.row
		h4 Jane owes you $59.98
		br
	div.row
		table.table.table-striped.table-responsive.table-bordered
			thead
				tr
					th Member
					th Event
					th You owe
					th You are owed
					th Date
					th Status
			tbody#finance_table

	script.
		$(document).ready(function () {
			$.ajax({
				url: "../db/finance/getBillTable",
				method: 'post',
				dataType: 'json',
				success: function (response) {
					var i;
					for (i = 0; i < response.length; i++) {
						var paid = "";
						if (response[i].paid){
							paid = '<i class="fa fa-check fa-md"></i>';
						}else{
							paid = '<btn class="btn-danger">Pay Now</btn>';
						}
						$('#finance_table').append('<tr><td>'+response[i].full_name+'</td><td>'+response[i].bill_type+'</td><td>'+response[i].you_owed+'</td><td>'+response[i].you_are_owed+'</td><td>'+response[i].bill_date+'</td><td>'+paid+'</td></tr>');
					}
				},
				error: function (error) {
					alert("error");
				}
			});
		});