extends ./app.jade




block content
	include addBill.jade
	#confirm.modal.fade(tabindex='-1', role='dialog', aria-labelledby='myModalLabel')
		.modal-dialog(role='document')
			.modal-content
				.modal-header
					button.close(type='button', data-dismiss='modal', aria-label='Close')
						span(aria-hidden='true') ×
					h4#newFinancePost.modal-title Pay bill
				.modal-body
					h4 Confirm that you have paid
				.modal-footer
					button#save.btn.btn-primary(type='button', data-dismiss='modal') Confirm
					button.btn.btn-default(type='button', data-dismiss='modal') Cancel
	div.row
		div.col-lg-12
			h1.page-header Finances
	div.row
		a#i-login.btn.btn-success.btn-md(data-toggle="modal" data-target="#billModal" style='margin-top: 30px; margin-bottom: 30px')
			i.fa.fa-plus.fa-xl
	div.row
		h4 Lucy owes you $29.98
	div.row
		h4 Jane owes you $59.98
		br
	div.row
		table.table.table-striped.table-responsive.table-bordered
			thead
				tr
					th Member
					th Event
					th You owe
					th You are owed
					th Date
					th Status
			tbody#finance_table

	script.
		$(document).ready(function () {
			refreshBillTable();
		});
		function refreshBillTable(){
			$('#finance_table').empty();
			$.ajax({
				url: "../db/finance/getBillTable",
				method: 'post',
				dataType: 'json',
				success: function (response) {
					var i;
					for (i = 0; i < response.length; i++) {
						var paid = "";
						if (response[i].paid){
							paid = '<i class="fa fa-check fa-md"></i>';
						}else{
							paid = '<btn class="btn btn-danger btn-xs" onclick="pay()" value="{bill_id:'+response[i].bill_id+', to:'+response[i].owed_to+', by:'+response[i].owed_by+'">Pay Now</btn>';
						}
						$('#finance_table').append('<tr><td>'+response[i].full_name+'</td><td>'+response[i].bill_type+'</td><td>'+response[i].you_owed+'</td><td>'+response[i].you_are_owed+'</td><td>'+response[i].bill_date+'</td><td>'+paid+'</td></tr>');
						}
					},
				error: function (error) {
					bootbox.alert("error");
				}
			});
		}

		function pay() {
				console.log($(this).source)
				var $form = $(this).closest('form');
				$('#confirm').modal({backdrop: 'static', keyboard: false})
						.one('click', '#delete', function () {
							$form.trigger('submit'); // submit the form
						});
		};