extends ./app.jade

block css
  link(rel='stylesheet' href='../css/dummy.css')

block js


block content
  include ./resources/house-info/info
  include ./resources/house-info/members
  include ./resources/house-info/upload
  include ./resources/house-info/display-images