extends ./app.jade

block content
	div.row
		div.col-lg-12
			h1.page-header Maintenance
	div.row
		div.col-lg-12
			.btn-group(role='group', aria-label='...')
				button.btn.btn-default(type='button') Left
				button.btn.btn-default(type='button') Middle
				button.btn.btn-default(type='button') Right

	div.row
		div.col-lg-12
			table.table.table-responsive.table-striped
				tr
					th Status
					th Description
					th Create date
					th Last update
					th Actions
