extends ./app.jade

block content
	include ./resources/ticketing/newticket
	div.row
		div.col-lg-12
			h1.page-header Maintenance
	div.row
		div.col-lg-12
			.btn-group(role='group', aria-label='...', style='float:right;margin-bottom:10px')
				button.btn.btn-default(type='button', data-toggle="modal", data-target="#myModal")
					span.glyphicon.glyphicon-plus
					| New Ticket
	div.row
		div.col-lg-12
			table.table.table-responsive.table-striped
				tr
					th Status
					th Description
					th Type
					th Create date
					th Last update
					th Actions
