// jQuery
script(src='../js/jquery.min.js')
// Bootstrap Core JavaScript
script(src='../js/bootstrap.min.js')
// Metis Menu Plugin JavaScript
script(src='../js/metisMenu.min.js')
// Custom Theme JavaScript
script(src='../js/sb-admin-2.js')
script(src='../js/calendar.js')