.navbar-header
    button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-collapse')
        span.sr-only Toggle navigation
        span.icon-bar
        span.icon-bar
        span.icon-bar
    a.header.navbar-brand(href='#', style='margin-left:15px') Quarters
    span.glyphicon.glyphicon-menu-right.header.navbar-brand
<<<<<<< HEAD
    .dropdown.navbar-brand.navbar-address
        span(style="margin-right:10px")= house.address
        button.btn.btn-default
            i.fa.fa-home(style="float:left")
            i.fa.fa-exchange(style="float:left")
=======
    .dropdown.navbar-brand
        | #{house.address}
        button.btn.btn-default(data-toggle='modal', data-target='#selectHouseModal') open house
>>>>>>> 049f88787fef538c21ad4fb196ef6927756bbdc7
script(src='../js/jquery.js')
