.navbar-default.sidebar(role='navigation')
  .sidebar-nav.navbar-collapse
    ul#side-menu.nav
      li.hidden-xs
        img.img.center(src='../img/avatars/house.jpg', width='100%')
      li
        a(href='documents')
          i.fa.fa-home.fa-fw
          | #{house.address}
      li
        a(href='bulletin')
          i.fa.fa-newspaper-o.fa-fw
          |  Bulletin Board
      li
        a(href='calendar')
          i.fa.fa-calendar-o.fa-fw
          |  Calendar
      li
        a(href='finances')
          i.fa.fa-usd.fa-fw
          |  Finances
      li
        a(href='maintenance')
          i.fa.fa-wrench.fa-fw
          |  Maintenance
