ul.nav.navbar-top-links.navbar-right
  li.dropdown
    a.dropdown-toggle(data-toggle='dropdown', href='#')
      i.fa.fa-envelope.fa-fw
      i.fa.fa-caret-down
    ul.dropdown-menu.dropdown-messages
      li
        a(href='#')
          div
            strong John Smith
            span.pull-right.text-muted
              em Yesterday
          div
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
      li.divider
      li
        a(href='#')
          div
            strong John Smith
            span.pull-right.text-muted
              em Yesterday
          div
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
      li.divider
      li
        a(href='#')
          div
            strong John Smith
            span.pull-right.text-muted
              em Yesterday
          div
            | Lorem ipsum dolor sit amet, consectetur adipiscing elit. Pellentesque eleifend...
      li.divider
      li
        a.text-center(href='#')
          strong Read All Messages
          i.fa.fa-angle-right
  li.dropdown
    a.dropdown-toggle(data-toggle='dropdown', href='#')
      i.fa.fa-bell.fa-fw
      i.fa.fa-caret-down
    ul.dropdown-menu.dropdown-alerts
      li
        a(href='#')
          div
            i.fa.fa-comment.fa-fw
            |  New Comment
            span.pull-right.text-muted.small 4 minutes ago
      li.divider
      li
        a(href='#')
          div
            i.fa.fa-twitter.fa-fw
            |  3 New Followers
            span.pull-right.text-muted.small 12 minutes ago
      li.divider
      li
        a(href='#')
          div
            i.fa.fa-envelope.fa-fw
            |  Message Sent
            span.pull-right.text-muted.small 4 minutes ago
      li.divider
      li
        a(href='#')
          div
            i.fa.fa-tasks.fa-fw
            |  New Task
            span.pull-right.text-muted.small 4 minutes ago
      li.divider
      li
        a(href='#')
          div
            i.fa.fa-upload.fa-fw
            |  Server Rebooted
            span.pull-right.text-muted.small 4 minutes ago
      li.divider
      li
        a.text-center(href='#')
          strong See All Alerts
          i.fa.fa-angle-right
  li.dropdown
    a.dropdown-toggle(data-toggle='dropdown', href='#')
      i.fa.fa-user.fa-fw
      | #{firstname} #{lastname}  
      i.fa.fa-caret-down
    ul.dropdown-menu.dropdown-user
      li
        img.img-circle.center(src='../img/avatars/avatar.jpg', width='100')
      li
        a(href='userprofile')
          i.fa.fa-user.fa-fw
          |  User Profile
      li
        a(href='accountsettings')
          i.fa.fa-gear.fa-fw
          |  Account Settings
      li.divider
      li
        a(href='login.html')
          i.fa.fa-sign-out.fa-fw
          |  Logout
