head
      meta(charset='utf-8')
      meta(http-equiv='X-UA-Compatible', content='IE=edge')
      meta(name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no")
      meta(name='description', content='')
      meta(name='author', content='')
      title Quarters
      // Bootstrap CSS and Landing Page CSS
      link(href='../css/styles.css', rel='stylesheet')
      // Application CSS
      link(href='../css/sb-admin-2.css', rel='stylesheet')
      link(href='../css/quarters.css', rel='stylesheet')
      // malihu scrollbar
      link(rel='stylesheet', href='../css/jquery.mCustomScrollbar.css')
      
